/* Font */

:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai Screen";
    --md-code-font: "JetBrains Mono", "LXGW WenKai Screen";
  }

/* use TonyCrane's cdn instead.

    @font-face {
        font-family: "JetBrains Mono";
        src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"); 
    }

    @font-face {
        font-family: "LXGW WenKai Screen";
        src: url("/assets/fonts/LXGWWenKaiScreen.woff2") format("woff2"); 
    }

*/

/* end Font */



/* Color */

/* light mode */
[data-md-color-scheme="default"] {
    /* header */
    --md-primary-fg-color:               hsla(0, 0%, 90%, 0.8);
    --md-primary-bg-color:               hsla(0, 0%, 0%, 0.8);

    /* footer */
    --md-footer-fg-color:                hsla(0, 0%, 90%, 0.8);
    --md-footer-bg-color:                hsla(0, 0%, 20%, 0.8);

    /* text */
    --md-typeset-color:                  hsla(0, 0%, 0%, 0.8);

    /* accent */
    --md-accent-fg-color:                hsla(90, 20%, 70%, 1);

    /* default */
    --md-default-fg-color:               hsla(0, 0%, 0%, 0.8);
    --md-default-fg-color--light:        hsla(0, 0%, 0%, 0.5);
    --md-default-fg-color--lighter:      hsla(0, 0%, 0%, 0.3);
    --md-default-fg-color--lightest:     hsla(0, 0%, 0%, 0.07);
    --md-default-bg-color:               hsla(0, 0%, 100%, 1);
    --md-default-bg-color--light:        hsla(0, 0%, 100%, 0.7);
    --md-default-bg-color--lighter:      hsla(0, 0%, 100%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 100%, 0.12);

    /* code */
    --md-code-fg-color:                  hsla(200, 15%, 25%, 1);
    --md-code-bg-color:                  hsla(200, 0%, 95%, 1);

    /* code highlight */
    --md-code-hl-number-color:           hsla(0, 67%, 50%, 1);
    --md-code-hl-special-color:          hsla(340, 83%, 47%, 1);
    --md-code-hl-function-color:         hsla(291, 45%, 50%, 1);
    --md-code-hl-constant-color:         hsla(250, 63%, 60%, 1);
    --md-code-hl-keyword-color:          hsla(219, 54%, 51%, 1);
    --md-code-hl-string-color:           hsla(150, 63%, 30%, 1);
    --md-code-hl-name-color:             var(--md-code-fg-color);
    --md-code-hl-operator-color:         var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
    --md-code-hl-comment-color:          var(--md-default-fg-color--light);
    --md-code-hl-generic-color:          var(--md-default-fg-color--light);
    --md-code-hl-variable-color:         var(--md-default-fg-color--light);

    /* typeset `a` color shades, e.g. hyperlinks, toc */
    --md-typeset-a-color:                hsla(0, 0%, 0%, 0.5);

    /* admonition */
    --md-admonition-fg-color:            var(--md-default-fg-color);
    --md-admonition-bg-color:            var(--md-default-bg-color);

    /* disable border */
    .md-typeset .admonition,
    .md-typeset details {
        border: none;
    }
}

/* light mode: search color shades */
[data-md-color-scheme="default"] input.md-search__input {
    background-color:                    hsla(0, 0%, 90%, 0.8);
}

/* dark mode */
[data-md-color-scheme="slate"] {
    /* header */
    --md-primary-fg-color:               hsla(0, 0%, 0%, 1);
    --md-primary-bg-color:               hsla(0, 0%, 100%, 0.9);

    /* footer */
    --md-footer-fg-color:                hsla(0, 0%, 100%, 0.9);
    --md-footer-bg-color:                hsla(0, 0%, 0%, 1);

    /* text */
    --md-typeset-color:                  hsla(0, 0%, 100%, 0.75);

    /* accent */
    --md-accent-fg-color:                hsla(217, 70%, 68%, 1);

    /* default */
    --md-default-fg-color:               hsla(0, 0%, 100%, 0.75);
    --md-default-fg-color--light:        hsla(0, 0%, 100%, 0.55);
    --md-default-fg-color--lighter:      hsla(0, 0%, 100%, 0.3);
    --md-default-fg-color--lightest:     hsla(0, 0%, 100%, 0.1);
    --md-default-bg-color:               hsla(0, 0%, 10%, 1); 
    --md-default-bg-color--light:        hsla(0, 0%, 10%, 0.6);
    --md-default-bg-color--lighter:      hsla(0, 0%, 10%, 0.3);
    --md-default-bg-color--lightest:     hsla(0, 0%, 10%, 0.1);

    /* code */
    --md-code-fg-color:                  hsla(0, 0%, 100%, 0.75);
    --md-code-bg-color:                  hsla(0, 0%, 15%, 1);

    /* code highlight */
    --md-code-hl-name-color:             var(--md-code-fg-color);
    --md-code-hl-operator-color:         var(--md-default-fg-color--light);
    --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
    --md-code-hl-comment-color:          var(--md-default-fg-color--light);
    --md-code-hl-generic-color:          var(--md-default-fg-color--light);
    --md-code-hl-variable-color:         var(--md-default-fg-color--light);

    /* typeset `a` color shades, e.g. hyperlinks, toc */
    --md-typeset-a-color:                hsla(0, 0%, 100%, 0.75);

    /* admonition */
    --md-admonition-fg-color:            var(--md-default-fg-color);
    --md-admonition-bg-color:            var(--md-default-bg-color);
}

/* dark mode: search color shades */
[data-md-color-scheme="slate"] input.md-search__input {
    background-color:                    hsla(0, 0%, 10%, 1);
}

/* end Color */







/* Text Selection Color ( universal css, not for material-for-mkdocs only ) */

::selection {
    background:#d3d3d3;
    color:#555;
}

::-moz-selection {
    background:#d3d3d3;
    color:#555;
}

::-webkit-selection {
    background:#d3d3d3;
    color:#555;
}

/* end Text Selection Color */



/* Auto Numbering */

h1 {
    counter-reset: h2;
}
h2 {
    counter-reset: h3;
}
h3 {
    counter-reset: h4;
}
h4 {
    counter-reset: h5;
}
h5 {
    counter-reset: h6;
}
h2:before {
    counter-increment: h2;
    content: counter(h2);
    margin-right: 0.8rem;
}
h3:before {
    counter-increment: h3;
    content: counter(h2) "." counter(h3);
    margin-right: 0.8rem;
}
h4:before {
    counter-increment: h4;
    content: counter(h2) "." counter(h3) "." counter(h4);
    margin-right: 0.8rem;
}
h5:before {
    counter-increment: h5;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5);
    margin-right: 0.8rem;
}
h6:before {
    counter-increment: h6;
    content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) "." counter(h6);
    margin-right: 0.8rem;
}

/* end Auto Numbering */



/* Better Font-Size, copy from TonyCrane: https://github.com/TonyCrane/note/blob/master/docs/css/custom.css */

@media screen and (min-width: 960px) {
    /* body {
      zoom: 1.1;
    } */
    html {
      font-size: 137.5%;
    }
}
@media screen and (min-width: 100em) {
    html {
      font-size: 137.5%;
    }
}
@media screen and (min-width: 125em) {
    html {
      font-size: 137.5%;
    }
}
.md-typeset h1, .md-typeset h2 {
    font-weight: 600;
}
.md-typeset h3 {
    font-weight: 500;
}
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    letter-spacing: 0;
}
.md-typeset {
    font-size: .7rem;
}
.md-typeset h3 {
    font-weight: 600;
}
.md-typeset code:not(pre code) {
    font-size: inherit;
}

/* end Better Headings */