:root {
    --md-text-font: "JetBrains Mono", "LXGW WenKai";
    --md-code-font: "JetBrains Mono";
  }

@font-face {
    font-family: "JetBrains Mono";
    src: url("/assets/fonts/JetBrainsMono-Regular.woff2") format("woff2"); 
}

@font-face {
    font-family: "LXGW WenKai";
    src: url("/assets/fonts/LXGWWenKaiScreen.woff2") format("woff2"); 
}